@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Global Styles */
:root {
  --primary-color: #4527a0;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --text-color: #ffffff;
  --text-light-hover-color: #eeeeee;
  --text-dark-hover-color: #aaaaaa;
  --background-color: #000000;
  --background-dark-surface-color: #1e1e1e;
  --primary-hover-color: #6a52b3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  width: 100%;
  align-self: center;
  padding: 0 2rem;
}

@media (min-width: 1500px) {
  .container {
    width: 1500px;
  }
}

.object-grid {
  display: grid;
  max-width: 1500px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.grid-fit {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.img-fill {
  min-width: 0;
  min-height: 0;
  object-fit: contain;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--text-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6666; /* make sure we're on top */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  padding: 1rem;
  background: var(--background-dark-surface-color);
  margin: 0rem;
  border-radius: 2.5px;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: var(--text-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.chk {
  align-content: center;
  justify-content: center;
  display: flex;
}

.chk input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: -100%;
}

.chk label {
  position: relative;
  padding-left: 25px;
}

.chk label::before,
.chk label::after {
  position: absolute;
  content: "";
}

.chk label::before {
  height: 16px;
  width: 16px;
  border: 1px solid;
  left: 0px;
  top: 3px;
}

.chk label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  top: 7px;
}

.chk input[type="checkbox"] + label::after {
  content: none;
}

.chk input[type="checkbox"]:checked + label::after {
  content: "";
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--background-dark-surface-color);
  color: var(--text-color);
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--primary-color);
  color: var(--text-color);
}

.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: var(--text-color);
}

.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--primary-color);
  color: var(--text-color);
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: var(--text-color);
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: var(--text-color);
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: var(--background-dark-surface-color);
  color: var(--text-color);
  /* border: #ccc solid 1px; */
}

.btn:hover {
  background: var(--primary-hover-color);
}

.round-img {
  border-radius: 50%;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type="submit"],
button {
  font: inherit;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--background-dark-surface-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  /* opacity: 0.9; */
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--text-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
